{% extends 'base.html' %} 
{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center text-center min-vh-100">
    <div class="row">
        <div class="col-12">
            <section class="text-center">
                {% if user.is_authenticated %}
                <section class="container d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="row">
                        <div class="col">
                            <h1>Bookings</h1>
                            <hr>
                            <h3>Welcome <strong id="current-user">{{ user }}</strong></h3>
                            <p>For Booking a Day:</p>
                            <div>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <a class="btn btn-dark" href="{% url 'create_booking' %}" role="button">Booking</a>
                                </div>
                            </div>
                            <hr>
                            <!-- Booking table -->
                            <table id="view-booking-table" class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                {% for booking in bookings %} 
                                <tbody>
                                    <tr class="booking-row">
                                        {% if request.user.is_superuser or request.user.is_staff %} 
                                        <td>{{ booking.date }}</td>
                                        <td>{{ booking.start_time }}</td>
                                        {% else %}
                                        {% if booking.user == request.user %}
                                        <td>{{ booking.date }}</td>
                                        <td>{{ booking.start_time }}</td>
                                        {% endif %} {% endif %}
                                        {% if request.user.is_superuser or request.user.is_staff or booking.user == request.user %} 
                                        <td>
                                            <a href="{% url 'edit_booking' booking.id %}">Edit</a>
                                        </td>
                                        <td>
                                            <a data-bs-toggle="modal" data-bs-target="#modal-cancel-{{ forloop.counter }}" type="button" class="btn-cancel"> Cancel </a>
                                        </td>
                                        
                                        <div class="modal fade" id="modal-cancel-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal-cancel-label-{{ forloop.counter }}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modal-cancel-label-{{ forloop.counter }}"> Cancel Booking for {{ user }}? </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body"> Are you sure you want to cancel the booking for <span>{{ user }}</span> on {{ booking.date }} at {{ booking.start_time }}? </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn" data-bs-dismiss="modal">No</button>
                                                        <button type="button" class="btn">
                                                        <a class="no-line" href="{% url 'cancel_booking' booking.id %}">Yes</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% if bookings|length == 0 %} 
                                        <tr>
                                            <td colspan="4">There are no booked appointments</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <div class="footer-buffer"></div>
                        </div>
                    </div>
                </section>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-dark {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}" role="button">Logout</a>
                </div>
                {% else %}
                <div class="container d-flex flex-column justify-content-center align-items-center text-center min-vh-100">
                    <h2>Welcome</h2>
                    <p>Please Login or Register for Booking a Table</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-dark {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}" role="button">Register</a>
                        <a class="btn btn-dark {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}" role="button">Login</a>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>
    </div>
</div>





{% endblock %}