{% extends 'base.html' %} {% block content %}
{% load static %}
{% url 'reservations' as reservations_url %}
<!-- index.html content starts here -->

<!-- Callout -->
<div class="container-fluid callout-container">
    <div class="opaque-overlay">&nbsp;
        <img class="callout-container opaque-overlay img-fluid" src="{% static 'img/table_restaurant.jpg' %}" alt="Restaurant Table">
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="col-12">
                <section class="jumbotron text-center">
                    <h1 class="jumbotron-header">Experience the finest tast of the Italian Cuisine.</h1>
                    <hr class="block-divider">
                    <p class="lead">Developing the best Experience for the Customer.
                        <span class="d-inline d-sm-none"><br></span>

                </section>
            </div>
        </div>
    </div>
</div>
<!-- Callout -->

<!-- Our Story -->
<section class="container-wrapper">
    <div class="container content-container">
        <div>
            <div class="row">
                <div class="col-12 page-header">
                    <h2 class="story-title">Our Story</h2>
                    <img class="story-tile-line" src="{% static 'img/line.jpg' %}" alt="Line">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center story-text">
                        <p>Welcome to IT Restaurant</p>
                        <p> A hidden gem nestled in the heart of Dublin. 
                            For the past five years, we have been delighting locals and visitors 
                            alike with an authentic Italian culinary
                            experience that transports you straight to the heart of Italy.
                        </p>
                        <p>Serving authentic Italian cuisine for 5 years, we pride 
                            ourselves on being the best in the city. From mouthwatering
                            pasta to delectable pizzas, our dishes are a true homage to Italian flavors.
                            Join us for a culinary journey that has made us a beloved gem in Dublin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Story -->

<!-- Our Food-->
<section class="container">
    <div class="row">
        <div class="col-12 page-header">
            <h2 class="story-title">Our Food</h2>
            <img class="story-tile-line" src="{% static 'img/line.jpg' %}" alt="Line">
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4 food-pad-marg">
            <img class="our-food-img " src="{% static 'img/pasta.jpg' %}" alt="pasta">
        </div>
        <div class="col-6 col-12 col-md-6 col-md-4 food-text">
            <p>IT Restaurant takes pride in its rich heritage of serving traditional 
                Italian dishes made with love and passion. Our chefs, inspired by the culinary 
                traditions of various regions in Italy, skillfully craft each dish to perfection.
                <br>
                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank" >
                Dinner Menu
                </a>
                <a class="dinner-menu {% if request.path == reservations_url %}active{%endif%}" 
                    aria-current="page" href="{% url 'reservations' %}" >Reservations</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-4 food-pad-marg">
            <img class="our-food-img" src="{% static 'img/lasagna.jpg' %}" alt="lasagna">
        </div>
        <div class="col-6 col-12 col-md-6 food-text">
            <p>From the aromatic aroma of freshly baked pizzas to the 
                tantalizing flavors of homemade pasta, every bite is a 
                journey through the vibrant and diverse Italian gastronomic landscape.
                What sets us apart is not just the quality of our ingredients, but the 
                dedication to preserving the authenticity of Italian cuisine.
                <br>
                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank">
                Dinner Menu
                </a>
                <a class="dinner-menu {% if request.path == reservations_url %}active{%endif%}" 
                    aria-current="page" href="{% url 'reservations' %}" >Reservations</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4 food-pad-marg">
            <img class="our-food-img " src="{% static 'img/pizza.jpg' %}" alt="pizza">
        </div>
        <div class="col-6 col-12 col-md-6 food-text">
            <p>Whether you're savoring the creamy risotto, 
                indulging in the mouthwatering tiramisu, or enjoying a 
                robust espresso, each dish is a testament to our commitment to excellence.
                Join us at IT Restaurant, where the spirit of Italy meets the charm 
                of Dublin. Buon appetito!
                <br>
                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank">
                Dinner Menu
                </a>
                <a class="dinner-menu {% if request.path == reservations_url %}active{%endif%}" 
                    aria-current="page" href="{% url 'reservations' %}" >Reservations</a>
            </p>
        </div>
    </div>

    <div class="container-wrapper">
        <div class="container content-container">
            <section>
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="story-title">Reserve a Table</h2>
                        <img class="story-tile-line" src="{% static 'img/line.jpg' %}" alt="Line">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="text-center story-text">
                            <p>Discover the taste of Italy at IT Restaurant, Dublin's finest Italian restaurant. </p>
                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-sm-3 col-lg-2">
                                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank">
                                Dinner Menu
                                </a>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <a class="dinner-menu {% if request.path == reservations_url %}active{%endif%}" 
                                    aria-current="page" href="{% url 'reservations' %}" >Reservations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>
<!-- Our Food--> 
 
<!-- index.html content ends here -->
{% endblock %}