{% extends 'base.html' %} {% block content %}
{% load static %}
{% url 'reservations' as reservations_url %}
<!-- index.html content starts here -->

<!-- Callout -->
<div class="container-fluid callout-container">
    <div class="opaque-overlay">&nbsp;
        <img class="callout-container opaque-overlay" src="{% static 'img/table_restaurant.jpg' %}">
    </div>
    <div class="row">
        <div class="col-12">
            <section class="jumbotron text-center">
                <h1 class="jumbotron-header">Experience the finest tast of the Italian Cuisine.</h1>
                <hr class="block-divider">
                <p class="lead">Always Developing the best Experience for the Customer.
                    <span class="d-inline d-sm-none"><br></span>
                    
            </section>
        </div>
    </div>
</div>
<!-- Callout -->

<!-- Our Story -->
<section class="container-wrapper">
    <div class="container content-container">
        <section>
            <div class="row">
                <div class="col-12 page-header">
                    <h2 class="story-title">Our Story</h2>
                    <img class="story-tile-line" src="{% static 'img/line.jpg' %}" alt="Line">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center story-text">                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu</p>
                        <p>One of two columns with the irrepressible Italian spirit: a meeting 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu.
                            One of two columns with the irrepressible Italian spirit: a meeting 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu
                        </p>   
                        <p>Lorem ipsum dolor sit amet, consecsed do eiu</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- Our Story -->

<!-- Our Food-->
<section class="container">
    <div class="row">
        <div class="col-12 page-header">
            <h2 class="story-title">Our Food</h2>
            <img class="story-tile-line" src="{% static 'img/line.jpg' %}" alt="Line">
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4 food-pad-marg">
            <img class="our-food-img " src="{% static 'img/pasta.jpg' %}" alt="pasta">
        </div>
        <div class="col-6 col-12 col-md-6 food-text">
            <p>One of two columns with the irrepressible Italian spirit: a meeting 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu.
                One of two columns with the irrepressible Italian spirit: a meeting 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu
                <br>
                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank">
                    Dinner Menu
                </a>
            </p>
      </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-4 food-pad-marg">
            <img class="our-food-img" src="{% static 'img/lasagna.jpg' %}" alt="lasagna">
        </div>
        <div class="col-6 col-12 col-md-6 food-text">
            <p>One of two columns with the irrepressible Italian spirit: a meeting 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu.
                One of two columns with the irrepressible Italian spirit: a meeting 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu
                <br>
                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank">
                    Dinner Menu
                </a>
            </p>
      </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4 food-pad-marg">
            <img class="our-food-img " src="{% static 'img/pizza.jpg' %}" alt="pizza">
        </div>
        <div class="col-6 col-12 col-md-6 food-text">
            <p>One of two columns with the irrepressible Italian spirit: a meeting 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu.
                One of two columns with the irrepressible Italian spirit: a meeting 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu
                <br>
                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank">
                    Dinner Menu
                </a>
            </p>
      </div>
    </div>

    <section class="container-wrapper">
        <div class="container content-container">
            <section>
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="story-title">Reserve a Table</h2>
                        <img class="story-tile-line" src="{% static 'img/line.jpg' %}" alt="Line">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="text-center story-text">                    
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu</p>
                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-sm-3 col-lg-2">
                                <a class="dinner-menu" href="{% static 'img/dinner-menu.pdf' %}" target="_blank">
                                     Dinner Menu
                                </a>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <a class="dinner-menu {% if request.path == reservations_url %}active{%endif%}" 
                                    aria-current="page" href="{% url 'reservations' %}" >Reservations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

</section>
<!-- Our Food-->  

<!-- index.html content ends here -->
{% endblock %}